<!DOCTYPE html>
<html lang="en" style="height:100%;" class="bg-black bg-black-hover">
    <head class="bg-black bg-black-hover">
        <meta charset="utf-8">
        <title>RU Charity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="pinegrow, blocks, bootstrap" />
        <meta name="description" content="My new website" />
        <link rel="shortcut icon" href="ico/favicon.png">
        <!-- Core CSS --><!-- href= {{url_for("static",filename = "images/brand/pgblocks-logo-white-nostrap.png")}}-->
        <link href= {{url_for("static",filename = "bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
        <link href= {{url_for("static",filename = "css/font-awesome.min.css")}} rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->
        <link href= {{url_for("static",filename = "css/style-library-1.css")}} rel="stylesheet">
        <link href= {{url_for("static",filename = "css/plugins.css")}} rel="stylesheet">
        <link href= {{url_for("static",filename = "css/blocks.css")}} rel="stylesheet">
        <link href= {{url_for("static",filename = "css/custom.css")}} rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body data-spy="scroll" data-target="nav" class="bg-black bg-black-hover">
        <header id="header-1" class="header-1">
            <!-- Navbar -->
            <nav class="main-nav navbar-fixed-top headroom headroom--pinned bg-guardsman bg-guardsman-hover">
                <div class="container">
                    <!-- Brand and toggle -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#">
                            <img src={{url_for("static",filename = "images/Rutgers_University_New_Brunswick.png")}} class="brand-img img-responsive">
                        </a>
                    </div>
                    <!-- Navigation -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active nav-item">
                                <a href="#promo-3">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#content-3-7">about<br></a>
                            </li>
                            <li class="nav-item">
                                <a href="#content-3-3">Who are you?<br></a>
                            </li>
                            <li class="nav-item">
                                <a href="#checkBalance">Your Balance<br></a>
                            </li>
                            <li class="nav-item">
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                        <!--//nav-->
                    </div>
                    <!--// End Navigation -->
                </div>
                <!--// End Container -->
            </nav>
            <!--// End Navbar -->
        </header>
        <section id="promo-3" class="content-block promo-3 min-height-600px bg-deepocean">
            <div class="container text-center">
                <h1><br>A Scarlet Knight Should Never Be Hungry
</h1>
                <h3 class="white"><Strong>RU</Strong> Charity<br></h3>
                <a href="#content-3-7" class="btn btn-outline btn-outline-xl outline-light">Learn More<br></a>
            </div>
            <!-- /.container -->
        </section>
        <section id="content-3-7" class="content-block content-3-7">
            <div class="container">
                <div class="col-sm-12">
                    <div class="underlined-title">
                        <h1>About</h1>
                        <hr>
                        <h2>We gather donations of un-used meal swipes and give them to the students in need. Thus, adding on to the philanthropic culture that Rutgers fosters, and continue to fight hunger.</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="promo-3" class="content-block promo-3 min-height-600px bg-deepocean">
            <section id="content-3-3" class="content-block-nopad content-3-3">
                <div class="overlay overlay-blue">
                    <div class="container text-center white">
                        <h1><br>Who are you?</h1>
                        <h3 class="white"></h3>
                        <h3>✭</h3>
                        <h4>Are you in need of Swipes or do you have some to give?</h4>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="col-md-6">
                                <a class="btn btn-block btn-outline btn-outline-lg outline-light" href="#tab1" role="tab" data-toggle="tab">Give</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-block btn-outline btn-outline-lg outline-light" href="#tab2" role="tab" data-toggle="tab">Receive</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </section>
            <div class="container text-center">
</div>
            <div class="row">
                <section class="content-block content-1-8 bgforthis">
                    <div class="container thisspacing">
                        <ul class="nav nav-tabs text-center" role="tablist" id="myTab">
                            <li class="active">
                                <a href="#tab1" role="tab" data-toggle="tab">Giver</a>
                            </li>
                            <li>
                                <a href="#tab2" role="tab" data-toggle="tab">Receiver</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <kbd>Giver Form</kbd>
                                <form id="giverForm" role="form" class="bg-pomegranate" method="get" action="/signUp">
                                    <div class="form-group">
                                        <br class="crsa-selected" />
                                        <label class="control-label" for="UserName">Name</label>
                                        <input name="UserName" type="text" class="form-control input-sm" id="UserName" placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="RUID">RUID</label>
                                        <input name="RUID" type="number" class="form-control" id="RUID" placeholder="Enter RUID">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="MealPlan">
                                            Meal Plan
</label>
                                        <input name="MealPlan" type="text" class="form-control" id="MealPlan" placeholder="Which meal plan do you have?">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="SwipesLeft">Swipes Left</label>
                                        <input name="SwipesLeft" type="number" class="form-control" id="SwipesLeft" placeholder="How many swipes do you have left?">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Major">Major</label>
                                        <input name="Major" type="text" class="form-control" id="Major" placeholder="What's your Major?">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Campus">Campus</label>
                                        <input name="Campus" type="text" class="form-control" id="Campus" placeholder="Which campus do you live on?">
                                    </div>
                                    <input id="add-button" type="submit" class="btn btn-success btn-sm" data-dismiss="modal">
                                </form>
                            </div>
                            <!-- /#tab1 -->
                            <div class="tab-pane fade" id="tab2">
                                <kbd>Receiver Form</kbd>
                                <form id="recieverForm" role="form" class="bg-pomegranate" method="get" action="/signUp">
                                    <div class="form-group">
                                        <br class="crsa-selected" />
                                        <label class="control-label" for="rUserName">Name</label>
                                        <input name="rUserName" type="text" class="form-control input-sm" id="rUserName" placeholder="Enter name">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="r_RUID">RUID</label>
                                        <input name="r_RUID" type="number" class="form-control" id="r_RUID" placeholder="Enter RUID">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="AnnualIncome">
                                            Annual Income (e.x 30,000)
</label>
                                        <input name="AnnualIncome" type="text" class="form-control" id="AnnualIncome" placeholder="What's your family's annual income?">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Commuter">Commuter</label>
                                        <input name="Commuter" type="text" class="form-control" id="Commuter" placeholder="Are you a commuter?">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="r_Major">Major</label>
                                        <input name="r_Major" type="text" class="form-control" id="r_Major" placeholder="What's your major?">
                                    </div>
                                    <input id="add-button" type="submit" class="btn btn-success btn-sm" data-dismiss="modal">
                                </form>
                            </div>
                            <!-- /#tab2 -->
                            <!-- /#tab3 -->
                            <!-- /#tab4 -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.container -->
                </section>
                <div class="row">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <!-- /.container -->
            <div class="row">
</div>
            <div class="row">
                <section class="content-block content-2-3 bg-deepocean" id="checkBalance">
                    <div class="container">
                        <div class="col-sm-7 pull-left">
                            <h2>Current balance of swipes:</h2>
                        </div>
                        <div class="col-sm-4 pull-right">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="RUID">
                                <span class="input-group-btn"><input id="add-button" type="submit" class="btn btn-success btn-sm"></span>
                            </div>
                            <!-- /.input-group -->
                        </div>
                    </div>
                    <!-- /.container -->
                </section>
            </div>
        </section>
        <section id="contact" class="content-block contact-1 bgLib">
            <div class="overlay overlay-aqua">
                <div class="container text-center">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="underlined-title">
                            <h1>Get in Touch</h1>
                            <hr>
                            <h2>Feel free to contact us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li>
                                <span class="fa fa-phone"></span>
                                <wp-span>+1 (732) 245-8122</wp-span>
                            </li>
                            <li>
                                <span class="fa fa-envelope"></span>
                                <a href="mailto:rucharity@mail.com">rucharity@mail.com</a>
                            </li>
                        </ul>
                        <!-- /.form-container -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
        </section>
        <div class="copyright-bar bg-black">
            <div class="container">
                <p class="pull-left small">© RUCharity</p>
                <p class="pull-right small">Made with <i class="fa fa-heart pomegranate"></i> in cs336</p>
            </div>
        </div><!-- href= {{url_for("static",filename ="js/bskit-scripts.js")}}-->
        <script type="text/javascript" src={{url_for("static",filename = "js/jquery-1.11.1.min.js")}}></script>
        <script type="text/javascript" src={{url_for("static",filename = "js/bootstrap.min.js")}}></script>
        <script type="text/javascript" src={{url_for("static",filename = "js/plugins.js")}}></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src={{url_for("static",filename ="js/bskit-scripts.js")}}></script>
    </body>
</html>
